header
{
	box-shadow: inset 1px -1px 34px 20px rgba(105,98,105,0.84);
	background-color:#11C0D9;
	margin-top:0px;
	margin:0px;
}
h1
{
	margin:0px;
	text-align: center;
	font-family: roboto;
	text-shadow: 0px 7px 4px #3D4041;
	font-size: 80px;
}	
body
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
nav ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
nav li 
{
  float: left;
}
nav li a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover
{
  background-color: #111;
}
footer
{
	background-color: #333;
	text-align: center;
	margin-bottom: 0px;
	margin-top: : 0px;
}
footer p
{
	font-family: roboto;
	color: white;
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
footer a
{
	color: white;
}
main
{
	margin:0px;
	margin-bottom: 0px;
}
div.over
{
	background-color: #848484;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: roboto;
	font-size:21px;
}
h3
{
	margin:  0px;
	font-family: roboto;
}
div.optreden
{
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #C7C7C7;
}